{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row">
    	<div class="col-md-3 col-xs-1"></div>
		<div class="col-md-6 col-xs-10 text-center">
			<div class="rounded margins" style="background-color: #BDFF00">
			<h4>Siapa Kami?</h4>
			<p>
			PT SinarPerak adalah organisasi non-profit yang memiliki tujuan untuk
			membuka platform donasi yang mudah digunakan untuk masyarakat agar orang-orang yang membutuhkan seperti korban bencana dan sebagainya cepat mendapat bantuan.
			</p>
			</div>
    	</div>
    </div>
</div>
{% endblock %}