{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    {% block title %}
    {% endblock %}
  </head>
  <body style="background-color: darkred">
	<nav class="navbar navbar-expand-sm bg-secondary navbar-dark sticky-top">
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>
    <a class="navbar-brand" href="{% url "dashboard" %}">

        <h5>SinarPerak</h5>
    </a>
      <div class="navbar-collapse collapse" id="navigationbar">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" id="nav-user" href="{% url 'profile' %}">
              <h4 style="margin-top:4px"><font color="white">{{user.get_username}}</font></h4>
            </a>
          </li>
          <li class="nav-item"><a class="nav-link" id="logout" href='{% url "logout" %}'>
            <button type="button" class="btn btn-danger">keluar</button>
          </a></li>
        
          {% else %}
          <li class="nav-item"></li>
              <a href="{% url "login" %}">
                    <button type="button" class="btn btn-primary">Masuk</button>
              </a>
          </li>
        </ul>
      </div>
    {% endif %}
  </nav>


    {% block content %}
    {% endblock %}

    <!-- Footer -->

<footer class="page-footer blue pt-1 bg-primary fixed-bottom text-center">
  <a href="{% url "aboutUs" %}" style="text-decoration: none; "><p><font color="white" style="font-size: 2.5vmin">Tentang SinarPerak</font></p></a>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
