{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<div class="col-xs-12 col-md-6 rounded margins" style="background-color:#BDFF00">
				<form class="form" action="" method="post">

					<h4>Sumbang</h4>
					<div class="form-group">
						<label for="exampleInputName">Nama Lengkap</label>
						<input type="text" class="form-control" id="exampleInputName" placeholder="Nama lengkap">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Email</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
					</div>

					<label for="exampleInputDonation">Jumlah Donasi </label>
					<div class="form-group">
						<input type="radio" name="donation" id="exampleInputDonation" value="10000" checked> 10000
						<input type="radio" name="donation" id="exampleInputDonation" value="50000"> 50000
						<input type="radio" name="donation" id="exampleInputDonation" value="100000"> 100000
						<input type="number" name="quantity" id="exampleInputDonation" min="10000" placeholder="other">
					</div>
					<div class="form-group">
						<input type="checkbox">Saya ingin nama saya terlihat
					</div>
					<button type="submit" class="btn btn-primary">Sumbang</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}