{% extends 'base.html' %}

{% block title %}
<title>Masuk</title>
{% endblock %}

{% block content%}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-3"></div>

			<div class="col-xs-12 col-md-6 rounded margins" style="background-color:#BDFF00">
				<form id="login-form" class="form" action="" method="post">

					<h3 class="text-center">Login</h3>

					{% if messages %}
					<ul class="messages">
						{% for message in messages %}

							{% if message.tags == 'success' %}
								<p  style="color:green; text-align:center; font-size: 3vmax" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
							{% else %}
								<p  style="color:red; text-align:center" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>

							{% endif %}
						{% endfor %}
					</ul>
					{% endif %}

					{% csrf_token %}
					<div class="form-group">
						<label for="username">Email:</label><br>
						<input type="email" name="email" id="email" class="form-control">
					</div>
					<div class="form-group">
						<label for="password">Password:</label><br>
						<input name="password" id="password" type="password" class="form-control">
					</div>
					<div class="form-group">
						<input type="submit" name="submit" class="btn btn-info btn-md float-right" value="submit">
						<small id="emailHelp" class="form-text"><br>Belum memiliki akun? Buat <a href="{% url 'sign_up' %}" class="">disini</a></small>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-md-3"></div>
		</div>
	</div>
</div>


{% endblock %}
