{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <center><a href=""><img class="rounded" src="{% static "img/image5.jpg" %}" width="300" height="200" alt="say"></a></center>
        </div>
        <div class="col-xs-12 col-md-6 rounded margins margins-news" style="background-color:#BDFF00"> 
            <p>Gempa bumi berkekuatan 6,4 Skala Richter (SR) yang mengguncang Situbondo, Jawa Timur, Kamis (11/10) pada pukul 01.44 WIB mengakibatkan tiga orang meninggal dunia.

            Badan Nasional Penanggulangan Bencana (BNPB) menyebutkan sejumlah bangunan mengalami kerusakan akibat gempa tersebut.
            </p></div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md mini-margins">
            <a href="{% url "donate" %}">
                <button type="button" class="btn btn-primary">Sumbang</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}

