{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}
<div class="container">
    <div class="row">
		<div class="col-1">
			<a href="" class="pad-home"><img src="{% static "img/download.png" %}" alt="say"></a>
		</div>
		<div class="col-3"></div>
		<div class="col"> <p></p></div>
    </div>
    <div class="row">
    	<div class="col">
	    	<a href="{% url "donate" %}">
	    		<button type="button" class="btn btn-primary">Sumbang</button>
	    	</a>
    	</div>
    </div>
    <div class="row">
    	<div class="col">
    		<a href="{% url "donator" %}">
	    		<button type="button" class="btn btn-primary">donator</button>
	    	</a>
    	</div>
    </div>
</div>
{% endblock %}