{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <center><a href=""><img class="rounded" src="{% static "img/image6.jpg" %}" width="300" height="200" alt="say"></a></center>
        </div>
        <div class="col-xs-12 col-md-6 rounded margins margins-news" style="background-color:#BDFF00"> 
            <p>GGempa bumi tektonik berkekuatan 4,8 skala Richter (SR) mengguncang Pulau Lombok, Nusa Tenggara Barat, Kamis, pukul 09.13 WITA. Namun tidak berpotensi tsunami.

			Hasil analisa Badan Meteorologi, Klimatologi dan Geofisika (BMKG), menunjukkan bahwa pusat gempa bumi tersebut terletak pada koordinat 8,2 lintang selatan dan 116,24 bujur timur.
            </p></div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md mini-margins">
            <a href="{% url "donate" %}">
                <button type="button" class="btn btn-primary">Sumbang</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
