{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row">
		<div class="col-xs-12 col-md-3">
			<center><a href=""><img class="rounded" src="{% static "img/image2.jpg" %}" width="300" height="200" alt="say"></a></center>
		</div>
		<div class="col-xs-12 col-md-6 rounded margins margins-news" style="background-color:#BDFF00"> 
			&nbsp;
			<h4 style="text-align: center">Kebakaran Panti Asuhan Sahabat Anak Indonesia</h4>
			&nbsp;
            <p>Bangunan Panti Sahabat Anak Indonesia, Kabupaten Barito Selatan, Kalimantan Tengah, ludes terbakar pada Selasa, 31 Juli 2018. Kejadian kebakaran tersebut terjadi sekitar pukul 18.45 WIB.

			Selain bangunan panti asuhan, satu rumah yang dikontrak Rahman, seorang pegawai PLN yang berdekatan, juga ikut ludes terbakar. "Setelah salat Isya, kita mendengar ada yang memberitahukan ada api," kata Ustaz Sibawaihi, pengurus panti asuhan tersebut, dilansir Antara.

			Begitu keluar dari masjid, api sudah besar membakar bangunan Panti Sahabat Anak Indonesia yang berada di Jalan Pelita Raya Gang Jasa Warga tersebut. Menurut dia, pada saat kebakaran, anak panti asuhan sedang tidak berada di tempat karena sedang melaksanakan pengajian rutin di Masjid Agung Baiturrahman.</p></div>
    </div>

    <div class="row">
    	<div class="col-xs-12 col-md mini-margins">
	    	<a href="{% url "donate" %}">
	    		<button type="button" class="btn btn-primary">Sumbang</button>
	    	</a>
    	</div>
    </div>
</div>
{% endblock %}
