{% extends 'base.html' %}
{%load static%}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block content%}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4"></div>
		<div class="col-xs-12 col-md-4 text-center">
			<div class="border rounded margins" style="background-color: #BDFF00">
				<h3>Profil</h3>
				<img src="{% static 'img/profil.jpg' %}" alt="profil" class="rounded-circle center" height="20%" width="20%">
				{% if user.is_authenticated %}
				
				<p>
					Nama: {{ user.get_username }}<br>
					Email: {{ user.email }}<br>
					Tanggal lahir: {{ user.tanggal_lahir }}
				</p>
				{% else %}

				<p>
					Nama: No name<br>
					Email: test@gmail.com<br>
					Tanggal lahir: Oct, 19 1072
				</p>

				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}