{% extends 'base.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block content%}
<div class="container">
    <div class="row">
		<div class="col">
			<form>
				<h4>Daftar</h4>
					<div class="form-group">
						<label for="exampleInputName">Nama Lengkap</label>
						<input type="text" class="form-control" id="exampleInputName" placeholder="Nama lengkap">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Email</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
					</div>
					<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-primary">daftar</button>
					<small id="emailHelp" class="form-text text-muted">Sudah memiliki akun? Masuk <a href="{% url "login" %}" class="">disini</a></small>
			</form>
		</div>
    </div>
</div>
{% endblock %}