{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Daftar</title>
{% endblock %}

{% block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-3"></div>
        <div class="col-xs-12 col-md-6 rounded margins" style="background-color:#BDFF00">
            <h4>Daftar</h4>
            <form id="login-form" class="form" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
                {% endfor %}
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-info btn-md float-right" value="Daftar">  
                    <small id="emailHelp" class="form-text text-muted"><br>Sudah memiliki akun? Masuk <a href="{% url 'login' %}" class="">disini</a></small>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-3"></div>
    </div>
</div>
{% endblock %}