body {
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 6vw;
}

.margins{
	margin-top: 10vh;
    margin-bottom: 10vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}