
{% extends 'base.html' %}

{% block title %}
<title>Donasi</title>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
       <div class="col-xs-12 col-md-3"></div>
			<div class="col-xs-12 col-md-6 rounded margins" style="background-color:#BDFF00">
            <form method="post">

                <h3 class="text-center">Sumbang</h3>

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}

                    {% if message.tags == 'success' %}
                    <p style="color:green; text-align:center" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                    {% else %}
                    <p style="color:red; text-align:center" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>

                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}

                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-info btn-md float-right" value="sumbang">
                    <br><br>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-3"></div>
    </div>
</div>

    {% endblock %}
