{% extends 'base.html' %}

{% block title %}
<title>News</title>
{% endblock %}

{% block content %}
    {% csrf_token %}
    {% for berita in list_of_berita %}
        {{ berita.judul_berita }} <br>
        <img src="{{ berita.link_gambar_berita }}" width="300" height="200"> <br>
        {{ berita.deskripsi_berita }} <br>
        <br><br><br>
    {% endfor %}
{% endblock %}
