{% extends 'base.html' %}

{% block title %}
<title>Daftar Program</title>
{% endblock %}


{% block content %}
    {% csrf_token %}
    {% for program in list_of_programs %}
        {{ program.nama_program }} <br>
        <img src="{{ program.link_gambar }}" width="300" height="200"> <br>
        {{ program.deskripsi_program }} <br>
        <br><br><br>
    {% endfor %}
{% endblock %}
