html {
  position: relative;
  min-height: 100%;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}


img {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 3vw;
    margin right: 3vw;
}

.margins{
	margin-top: 10vh;
  margin-bottom: 10vh;
}

.mini-margins{
  margin-bottom: 3vh;
  margin-left: 3vw;
  margin right: 3vw;
}

.margins-news{
  margin-left: 19vw;
  margin-right: 5vw;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}